<div id="contacts-list">
    {% comment %} {% if contacts %} THIS NEEDS TO BE MOVED INTO TANLE BOD AS IT DISPALYS THE NO VONTACT PROBLEM {% endcomment %}
    <div class="overflow-x-auto">
        <table class="table table-zebra table-pin-rows mb-2">
            {% comment %} daisy ui {% endcomment %}
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created at</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="contactbody">
                {% if contacts %}
                    {% for contact in contacts %}
                        {% include 'partials/contact-row.html' %}
                    {% endfor %}
                {% else %}
                    <tr class ="no-contact-row " >
                    <td colspan = "5">
                            <div role="alert" class="alert alert-warning">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                            </svg>
                            <span>No contacta</span>
                        </div>
                </td>
                </tr>
                {% endif %}
            </tbody> 
{#            <tbody class="py-24" id="contactbody">#}
{#            from the id we link it to the partial with hx-get of the form add-contcct modal#}
        </table>
    </div>

    
</div>